<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DNC</title>
</head>
<body>

<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="gcode">
    <input type="submit">
</form>

<table>
    <tr>
        <th>
            Filename
        </th>
        <th>
            Run
        </th>
        <th>
            Preview
        </th>
        <th>
            Delete
        </th>
    </tr>
    {{ range .Files }}
        <tr>
            <td>{{ .Name }}</td>
            <td><a href="/{{ .Name }}/run">Run</a></td>
            <td><a href="/{{ .Name }}/preview">Preview</a></td>
            <td><a href="/{{ .Name }}/delete">Delete</a></td>
        </tr>
    {{ end }}
</table>
</body>
</html>